---
const destination = '/contact#tour-request-form';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${destination}`} />
    <meta name="robots" content="noindex" />
    <title>Redirecting to Tour Request Form</title>
    <script is:inline>
      window.location.replace('/contact#tour-request-form');
    </script>
  </head>
  <body>
    <p>Redirecting to the tour request form. <a href={destination}>Continue here</a>.</p>
  </body>
</html>
